.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    margin-top: 80px;
}

.box {
    display: flex;
    flex-direction: column; 
    border: 1px solid red;
    width: 800px;
}

.firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.btnOutline {
    color: red;
    border: 1px solid red;
    background: none;
    padding: 5px 15px;
    border-radius: 4px;
    font-family: inherit;
    cursor: pointer;
}

.btnOrdinary {
    color: #fff;
    border: 1px solid red;
    background: red;
    padding: 5px 15px;
    border-radius: 4px;
    font-family: inherit;
    cursor: pointer;
    margin-right: 5px;
}

th, td {
    text-align: center;
}