.list {
    background: #4e34e0;
    display: flex;
    flex-direction: row;
    padding: 5px;
    list-style: none;
}

.list li {
    padding: 8px;
}

.list li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}